<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38044936434-i2klfpkv5qa3nsjk1ttk8cdo6v8flk7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38044936434-i2klfpkv5qa3nsjk1ttk8cdo6v8flk7k</string>
	<key>API_KEY</key>
	<string>AIzaSyAeFwew-uwf8BheCt8DWQYm7d95KFpBGFA</string>
	<key>GCM_SENDER_ID</key>
	<string>38044936434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Ochiai.Gil.Imanani</string>
	<key>PROJECT_ID</key>
	<string>imanani-7ee50</string>
	<key>STORAGE_BUCKET</key>
	<string>imanani-7ee50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38044936434:ios:5ab32e123b76db9900086b</string>
</dict>
</plist>